services:
  db:
    image: mongo:latest
    container_name: zero_trust_mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: .
    container_name: zero_trust_backend
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - MONGO_URI=mongodb://db:27017/
    volumes:
      - .:/app
    depends_on:
      - db

  frontend:
    build: ./client
    container_name: zero_trust_frontend
    restart: always
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:8000/api
    volumes:
      - ./client:/app
      - /app/node_modules
    depends_on:
      - backend

volumes:
  mongo_data:
